     @import url('https://fonts.googleapis.com/css?family=Open+Sans');
	 body 
	 {
	 	font-family: 'Open Sans', sans-serif;
	 }
     	#people 
     	{ 
     		border: 3px solid powderblue; border-spacing: 0 
     	}
     	.table-header
     	{
                 background: yellow; font-weight: 800;
     	}
     	.table-tr
     	{
     		background: aqua; font-weight: 600;
     	}