     @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 	 body 
 	 {
 	 	font-family: 'Open Sans', sans-serif;
 	 }
 	    .table-product
 	    {
 	    	border: 2px solid blue; text-align: left;
 	    }
 	    .table-header
 	    {
 	    	background: yellow; font-weight: 600; border-spacing: 0 text-align: center;
 	    }
      	.table-tr
     	{
      		background: powderblue; font-weight: 600; border-spacing: 0 text-align: center;
       	}